<div class="container">
    <nav class="nav">
        <a href="/checkin">Add New</a>
        <a>LogOut</a>
    </nav>

    <h1>Dashboard.</h1>
    <section class="category">
        <div class="title">Day log.</div>
        <div class="calendar">
            <div class="month" *ngFor="let month of calendar">
                <div class="name">{{month.month}}</div>
                <div class="days">
                    <div class="day" [ngClass]="'a' + day.dayLog" *ngFor="let day of month.days"></div>
                </div>
            </div>
        </div>
        <div class="subtitle">
            <div class="info">
                <div class="color a1"></div>
                <div class="info">Sick: xx days.</div>
            </div>
            <div class="info">
                <div class="color a2"></div>
                <div class="info">Not good: xx days.</div>
            </div>
            <div class="info">
                <div class="color a3"></div>
                <div class="info">Average: xx days.</div>
            </div>
            <div class="info">
                <div class="color a4"></div>
                <div class="info">Great: xx days.</div>
            </div>
            <div class="info">
                <div class="color a5"></div>
                <div class="info">Very well: xx days.</div>
            </div>
        </div>
    </section>

    <section class="category">
        <div class="title">Anxiety log.</div>
        <div class="calendar">
            <div class="month" *ngFor="let month of calendar">
                <div class="name">{{month.month}}</div>
                <div class="days">
                    <div class="day" [ngClass]="'a' + day.anxietyLog" *ngFor="let day of month.days"></div>
                </div>
            </div>
        </div>
        <div class="subtitle">
            <div class="info">
                <div class="color a1"></div>
                <div class="info">Sick: xx days.</div>
            </div>
            <div class="info">
                <div class="color a2"></div>
                <div class="info">Not good: xx days.</div>
            </div>
            <div class="info">
                <div class="color a3"></div>
                <div class="info">Average: xx days.</div>
            </div>
            <div class="info">
                <div class="color a4"></div>
                <div class="info">Great: xx days.</div>
            </div>
            <div class="info">
                <div class="color a5"></div>
                <div class="info">Very well: xx days.</div>
            </div>
        </div>
    </section>

    <section class="category">
        <div class="title">Health log.</div>
        <div class="calendar">
            <div class="month" *ngFor="let month of calendar">
                <div class="name">{{month.month}}</div>
                <div class="days">
                    <div class="day" [ngClass]="'a' + day.healthLog" *ngFor="let day of month.days"></div>
                </div>
            </div>
        </div>
        <div class="subtitle">
            <div class="info">
                <div class="color a1"></div>
                <div class="info">Sick: xx days.</div>
            </div>
            <div class="info">
                <div class="color a2"></div>
                <div class="info">Not good: xx days.</div>
            </div>
            <div class="info">
                <div class="color a3"></div>
                <div class="info">Average: xx days.</div>
            </div>
            <div class="info">
                <div class="color a4"></div>
                <div class="info">Great: xx days.</div>
            </div>
            <div class="info">
                <div class="color a5"></div>
                <div class="info">Very well: xx days.</div>
            </div>
        </div>
    </section>

    <section class="category">
        <div class="title">Exercise log.</div>
        <div class="calendar">
            <div class="month" *ngFor="let month of calendar">
                <div class="name">{{month.month}}</div>
                <div class="days">
                    <div class="day" [ngClass]="'a' + day.exerciseLog" *ngFor="let day of month.days"></div>
                </div>
            </div>
        </div>
        <div class="subtitle">
            <div class="info">
                <div class="color a1"></div>
                <div class="info">Sick: xx days.</div>
            </div>
            <div class="info">
                <div class="color a2"></div>
                <div class="info">Not good: xx days.</div>
            </div>
            <div class="info">
                <div class="color a3"></div>
                <div class="info">Average: xx days.</div>
            </div>
            <div class="info">
                <div class="color a4"></div>
                <div class="info">Great: xx days.</div>
            </div>
            <div class="info">
                <div class="color a5"></div>
                <div class="info">Very well: xx days.</div>
            </div>
        </div>
    </section>

    <section class="category">
        <div class="title">Hobby log.</div>
        <div class="calendar">
            <div class="month" *ngFor="let month of calendar">
                <div class="name">{{month.month}}</div>
                <div class="days">
                    <div class="day" [ngClass]="'a' + day.hobbyLog" *ngFor="let day of month.days"></div>
                </div>
            </div>
        </div>
        <div class="subtitle">
            <div class="info">
                <div class="color a1"></div>
                <div class="info">Sick: xx days.</div>
            </div>
            <div class="info">
                <div class="color a2"></div>
                <div class="info">Not good: xx days.</div>
            </div>
            <div class="info">
                <div class="color a3"></div>
                <div class="info">Average: xx days.</div>
            </div>
            <div class="info">
                <div class="color a4"></div>
                <div class="info">Great: xx days.</div>
            </div>
            <div class="info">
                <div class="color a5"></div>
                <div class="info">Very well: xx days.</div>
            </div>
        </div>
    </section>

    <section class="category">
        <div class="title">Sexual log.</div>
        <div class="calendar">
            <div class="month" *ngFor="let month of calendar">
                <div class="name">{{month.month}}</div>
                <div class="days">
                    <div class="day" [ngClass]="'a' + day.sexualLog" *ngFor="let day of month.days"></div>
                </div>
            </div>
        </div>
        <div class="subtitle">
            <div class="info">
                <div class="color a1"></div>
                <div class="info">Sick: xx days.</div>
            </div>
            <div class="info">
                <div class="color a2"></div>
                <div class="info">Not good: xx days.</div>
            </div>
            <div class="info">
                <div class="color a3"></div>
                <div class="info">Average: xx days.</div>
            </div>
            <div class="info">
                <div class="color a4"></div>
                <div class="info">Great: xx days.</div>
            </div>
            <div class="info">
                <div class="color a5"></div>
                <div class="info">Very well: xx days.</div>
            </div>
        </div>
    </section>

    <section class="category">
        <div class="title">Sleep log.</div>
        <div class="calendar">
            <div class="month" *ngFor="let month of calendar">
                <div class="name">{{month.month}}</div>
                <div class="days">
                    <div class="day" [ngClass]="'a' + day.sleepLog" *ngFor="let day of month.days"></div>
                </div>
            </div>
        </div>
        <div class="subtitle">
            <div class="info">
                <div class="color a1"></div>
                <div class="info">Sick: xx days.</div>
            </div>
            <div class="info">
                <div class="color a2"></div>
                <div class="info">Not good: xx days.</div>
            </div>
            <div class="info">
                <div class="color a3"></div>
                <div class="info">Average: xx days.</div>
            </div>
            <div class="info">
                <div class="color a4"></div>
                <div class="info">Great: xx days.</div>
            </div>
            <div class="info">
                <div class="color a5"></div>
                <div class="info">Very well: xx days.</div>
            </div>
        </div>
    </section>

    <section class="category">
        <div class="title">Work log.</div>
        <div class="calendar">
            <div class="month" *ngFor="let month of calendar">
                <div class="name">{{month.month}}</div>
                <div class="days">
                    <div class="day" [ngClass]="'a' + day.workLog" *ngFor="let day of month.days"></div>
                </div>
            </div>
        </div>
        <div class="subtitle">
            <div class="info">
                <div class="color a1"></div>
                <div class="info">Sick: xx days.</div>
            </div>
            <div class="info">
                <div class="color a2"></div>
                <div class="info">Not good: xx days.</div>
            </div>
            <div class="info">
                <div class="color a3"></div>
                <div class="info">Average: xx days.</div>
            </div>
            <div class="info">
                <div class="color a4"></div>
                <div class="info">Great: xx days.</div>
            </div>
            <div class="info">
                <div class="color a5"></div>
                <div class="info">Very well: xx days.</div>
            </div>
        </div>
    </section>

    
</div>